<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test_ststem.mapper.RecordMapper">

    <!-- pageCC -->
    <!-- <select id="pageCC" resultType="com.test_ststem.entity.Record">
        select * from record ${ew.customSqlSegment}

    </select> -->


    <select id="pageCC" resultType="com.test_ststem.entity.RecordRes"> 
        SELECT a.*,
        user.name AS username,
        admin.name AS adminname,
        g.name as goodsname,
        s.name as storagename,
        g2.name as goodstypename
 FROM wms02.record a
 INNER JOIN wms02.goods g ON g.id =a.goods
 inner join wms02.storage s on g.storage  = s.id 
 inner join wms02.goodstype g2 on g2.id = g.goodstype 
 inner JOIN wms02.user user ON user.id = a.userid
 inner JOIN wms02.user admin ON admin.id = a.adminid
  ${ew.customSqlSegment} </select>
</mapper>